@import 'functions';
@import 'mixins';
@import 'semantics';

$gutter: 0;
$bottom: 20px;

.row {
  margin:0;
  padding:0;
  margin-left:-$gutter;
  @extend %clearfix;
  margin-bottom: $bottom;
  &.full {
  margin-left:0;
  > .column {
      padding-left:0;
    }
  }
  &:last-child {
    margin-bottom: 0;
    > .row:last-child {
      margin-bottom: 0;
    }
  }
}

.column {
  float: left;
  padding-left:$gutter;
  vertical-align:top;
  @extend %border-box;
}