<div class="aside open">
  <h3>New invoice</h3>
  <form action="" method="post">
    <div class="field-group">
      <label for="description" class="label-field">Descripción</label>
      <input type="text" name="description" class="field-text full">
    </div>
    <div class="field-group">
      <label class="label-field">Cliente</label>
        <div class="dropdown">
          <select name="client" id="client">
            <option value="1">BeBanjo SL</option>
            <option value="2">Nicemondays SCP</option>
          </select>
        </div>
    </div>
    <div class="field-group">
      <div class="row">
        <div class="column two-of-five alfa">
          <label for="iva" class="label-field">IVA</label>
          <input type="text" name="iva" class="field-text full">
        </div>
        <div class="column two-of-five push-one-of-five">
          <label for="irpf" class="label-field">IRPF</label>
          <input type="text" name="irpf" class="field-text full">
        </div>
      </div>
    </div>
    <div class="field-group">
      <div class="column two-of-five alfa">
          <label for="base" class="label-field">BASE</label>
          <input type="text" name="base" class="field-text full">
        </div>
        <div class="column two-of-five push-one-of-five">
          <label for="total" class="label-field">TOTAL</label>
          <input type="text" name="total" class="field-text live full" value="2000" disabled>
        </div>
    </div>
    <div class="form-actions">
      <input type="submit" class="button big full" value="Guardar">
    </div>
  </form>
</div>

<div class="main">
  <%= erb :_flash %>
  <div class="block bg-white">
    <div class="header">
      <h1>Hello Buti</h1>
      <ul class="nav-horizontal">
        <li><a href="#" class="button active">Invoices</a></li>
        <li><a href="#" class="button">Clients</a></li>
        <li><a href="#" class="button">Settings</a></li>
        <li><a href="#" class="button">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="block bg-gray">
    <div class="utilities">
      <div class="stats">
        <p><strong>Tus números</strong> <span class="separator">-</span> <span class="highlight-yellow">12560€</span> en 8 proyectos</p>
      </div>
      <div class="years">
        <label class="label-field inline">Select a year:</label>
        <div class="dropdown year">
          <select name="locs" id="locs">
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
          </select>
        </div>
      </div>
    </div>
    <div class="invoices">
      <table class="flat">
        <tbody>
        <tr>
          <td class="five percent">
            <i class="icon-complete"></i>
          </td>
          <td class="forty percent">
            <div class="description">Consultancy frontend services June</div>
            <div class="client">BeBanjo SL</div>
          </td>
          <td class="align-center">
            <span class="highlight-yellow">30/06/2013</span>
          </td>
          <td><span class="money">3000€</span></td>
          <td>
            <ul class="actions nav-horizontal">
              <li><a class="action" href="">Complete</a></li>
              <li><a class="action" href="">Edit</a></li>
              <li><a class="action" href="">Invoice</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="five percent">
            <i class="icon-complete"></i>
          </td>
          <td>
            <div class="description">Consultancy frontend services June</div>
            <div class="client">BeBanjo SL</div>
            <div class="invoice">#012/2013</div>
          </td>
          <td>
            <span class="highlight-yellow">30/06/2013</span>
          </td>
          <td><span class="money">3000€</span></td>
          <td>
            <ul class="actions nav-horizontal">
              <li><a class="action" href="">Complete</a></li>
              <li><a class="action" href="">Edit</a></li>
              <li><a class="action" href="">Invoice</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="five percent">
            <i class="icon-uncomplete"></i>
          </td>
          <td class="fifty percent">
            <div class="description">Consultancy frontend services June from fucking awesome movida deploy</div>
            <div class="client">BeBanjo SL</div>
          </td>
          <td>
            <span class="highlight-yellow">30/06/2013</span>
          </td>
          <td><span class="money">3000€</span></td>
          <td>
            <ul class="actions nav-horizontal">
              <li><a class="action" href="">Complete</a></li>
              <li><a class="action" href="">Edit</a></li>
              <li><a class="action" href="">Invoice</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="five percent">
            <i class="icon-uncomplete"></i>
          </td>
          <td class="fifty percent">
            <div class="description">Consultancy frontend services June from fucking awesome movida deploy</div>
            <div class="client">BeBanjo SL</div>
          </td>
          <td>
            <span class="highlight-yellow">30/06/2013</span>
          </td>
          <td><span class="money">3000€</span></td>
          <td>
            <ul class="actions nav-horizontal">
              <li><a class="action" href="">Complete</a></li>
              <li><a class="action" href="">Edit</a></li>
              <li><a class="action" href="">Invoice</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="five percent">
            <i class="icon-uncomplete"></i>
          </td>
          <td class="fifty percent">
            <div class="description">Consultancy frontend services June from fucking awesome movida deploy</div>
            <div class="client">BeBanjo SL</div>
          </td>
          <td>
            <span class="highlight-yellow">30/06/2013</span>
          </td>
          <td><span class="money">3000€</span></td>
          <td>
            <ul class="actions nav-horizontal">
              <li><a class="action" href="">Complete</a></li>
              <li><a class="action" href="">Edit</a></li>
              <li><a class="action" href="">Invoice</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="five percent">
            <i class="icon-uncomplete"></i>
          </td>
          <td class="fifty percent">
            <div class="description">Consultancy frontend services June from fucking awesome movida deploy</div>
            <div class="client">BeBanjo SL</div>
          </td>
          <td>
            <span class="highlight-yellow">30/06/2013</span>
          </td>
          <td><span class="money">3000€</span></td>
          <td>
            <ul class="actions nav-horizontal">
              <li><a class="action" href="">Complete</a></li>
              <li><a class="action" href="">Edit</a></li>
              <li><a class="action" href="">Invoice</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="five percent">
            <i class="icon-uncomplete"></i>
          </td>
          <td class="fifty percent">
            <div class="description">Consultancy frontend services June from fucking awesome movida deploy</div>
            <div class="client">BeBanjo SL</div>
          </td>
          <td>
            <span class="highlight-yellow">30/06/2013</span>
          </td>
          <td><span class="money">3000€</span></td>
          <td>
            <ul class="actions nav-horizontal">
              <li><a class="action" href="">Complete</a></li>
              <li><a class="action" href="">Edit</a></li>
              <li><a class="action" href="">Invoice</a></li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>