<div class="main">
  <div class="row">
    <div class="half column">Half column</div>
    <div class="half column">Half column</div>
  </div>
  <div class="row">
    <div class="one-of-twelve column">One of twelve</div>
    <div class="three-of-twelve column">Three of twelve</div>
    <div class="eight-of-twelve column">Eight of twelve</div>
  </div>
  <div class="row">
    <div class="one-of-twelve column">One of twelve</div>
    <div class="one-of-twelve column">One of twelve</div>
    <div class="one-of-twelve column">One of twelve</div>
    <div class="one-of-twelve column">One of twelve</div>
    <div class="one-of-twelve column">One of twelve</div>
    <div class="one-of-twelve column">One of twelve</div>
    <div class="six-of-twelve columns">Six of twelve</div>
  </div>
  <div class="row">
    <div class="column quarter">
      <input type="submit" class="button" value="Submit button">
      <a href="#" class="button">Link button</a>
      <a href="#" class="button big">Link big button</a>
    </div>
    <div class="column quarter">
      <ul class="nav">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">link 2</a></li>
        <li><a href="#">link 3</a></li>
      </ul>
    </div>
    <div class="column quarter">
      <ul class="nav">
        <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">link 2</a></li>
        <li><a href="#" class="button">link 3</a></li>
      </ul>
    </div>
    <div class="column quarter">
      <ul class="nav-horizontal">
        <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">link 2</a></li>
        <li><a href="#" class="button">link 3</a></li>
      </ul>
    </div>
  </div>
</div>