<%= erb :_flash %>
<div class="login-box">
  <form action="login" method="post">
    <div class="field-group">
      <input type="text" class="field-text full" name="email" placeholder="Email" value="<%= params[:email] %>">
    </div>
    <div class="field-group">
      <input type="password" class="field-text full" name="password" placeholder="Password">
    </div>
    <div class="field-group">
      <a class="uppercase left" href="#">I forgot my password</a>
      <input type="submit" class="button right" value="Login">
    </div>
  </form>
</div>