<div class="login-box">
  <div class="row">
    <div class="column one-of-three">
      <h1><span class="logo">$</span>MakingMoney</h1>
      <form action="login" method="post">
        <div class="field-group">
          <input type="text" class="field-text full" name="user" id="user" placeholder="Email">
        </div>
        <div class="field-group">
          <input type="password" class="field-text full" name="password" id="password" placeholder="Password">
        </div>
        <div class="field-group">
          <a class="button button-link left" href="#">I forgot my password</a>
          <input type="submit" class="button right" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>