
  <div class="block bg-white">
    <div class="holder invoice">

      <div class="row">
        <div class="column two-of-five">
          <h1 class="align-right breathing-right">FACTURA</h1>
        </div>
        <div class="column half">
          <h1>#05/13 - 28/04/2013</h1>
        </div>
      </div>

      <div class="row">
        <div class="column two-of-five">
          <h1 class="align-right breathing-right">NOMBRE</h1>
        </div>
        <div class="column half">
          <h1>Miguel Romero Portero</h1>
          <div class="datos">
            <p>NIF: 53683729G</p>
            <p>C/ Almansa, 4, 3ºC<br>29007 Málaga Spain</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column two-of-five">
          <h1 class="align-right breathing-right">CLIENTE</h1>
        </div>
        <div class="column half">
          <h1>Nicemondays SCP</h1>
          <div class="datos">
            <p>CIF: J92682345</p>
            <p>Cno. Antiguo Paso del Ferrocarril<br>Edificio Horizontes, 2 10aA<br>29640 Fuengirola (Málaga)</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column two-of-five">
          <h1 class="align-right breathing-right">CONCEPTO</h1>
        </div>
        <div class="column half">
          <h1>212 Summer Casting FB App</h1>
        </div>
      </div>

      <div class="row">
        <div class="column two-of-five">
          <h1 class="align-right breathing-right">TOTAL</h1>
        </div>
        <div class="column half">
          <h1>4000 €</h1>
          <div class="desglose">
            <div class="row">
              <div class="column ten percent">
                BASE:
              </div>
              <div class="column seventy percent">
                <strong>4000 €</strong>
              </div>
            </div>
            <div class="row">
              <div class="column ten percent">
                IVA:
              </div>
              <div class="column seventy percent">
                <strong>840 €</strong>
              </div>
            </div>
            <div class="row">
              <div class="column ten percent">
                IRPF:
              </div>
              <div class="column seventy percent">
                <strong>840 €</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column two-of-five">
          <h1 class="align-right breathing-right">CUENTA</h1>
        </div>
        <div class="column half">
          <h1>1465 0100 91 1700331548</h1>
        </div>
      </div>

      <div class="row">
        <div class="column half push-two-of-five">
          <h1>GRACIAS</h1>
        </div>
      </div>


    </div>
  </div>