<div class="login-box">
  <form action="/signup" method="post">
    <div class="field-group">
      <input type="text" class="field-text full" name="user[email]" id="user" placeholder="Email" value="<%= params[:email] %>">
    </div>
    <div class="field-group">
      <input type="password" class="field-text full" name="user[password]" placeholder="Password">
    </div>
    <div class="field-group">
      <input type="password" class="field-text full" name="user[password_confirmation]" placeholder="Confirm password">
    </div>
    <div class="field-group">
      <input type="submit" class="button right" value="Get access">
    </div>
  </form>
</div>