<div class="aside bg-dark showed">
  <p>Aside</p>
</div>
<div class="main">
  <div class="block bg-white">
    <div class="holder">
      <h1>H1 header</h1>
      <h2>H2 header</h2>
      <h3>H3 header</h3>
    </div>
  </div>
  <div class="block bg-gray">
    <div class="holder">
      <h3>Buttons</h3>
      <a href="" class="button">Login</a>
      <a href="" class="button active">Login</a>
    </div>
  </div>
  <div class="block bg-gray">
      <div class="holder">
        <div class="row">
          <div class="column two-of-four">
            <form action="">
              <div class="field-group">
                <label class="label-field" for="name">Name</label>
                <input class="field-text" type="text" id="name">
              </div>
              <div class="field-group">
                <label class="label-field inline" for="email">Email</label>
                <input class="field-text inline" type="text" id="email">
              </div>
              <div class="field-group">
                <label class="label-field inline" for="party">Lorem ipsum force party</label>
                <input class="field-text inline" type="text" id="party">
              </div>
              <div class="field-group">
                <label class="label-field" for="description">Description</label>
                <textarea class="field-text full" name="description" id="description"></textarea>
              </div>
              <div class="field-group">
                <label class="label-field" for="full">Full</label>
                <input class="field-text full" type="text" id="full">
              </div>
            </form>
          </div>
          <div class="column two-of-four bg-white">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quo, nisi iusto eveniet tempore quis beatae iure molestiae sunt nulla magnam eius voluptate mollitia debitis distinctio quidem perferendis quae labore.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem provident molestias recusandae in saepe! Accusamus, quos, quam, error quas quod illo deserunt harum dolorem praesentium sint nobis dolorum id autem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>