<div class="aside bg-dark showed">
  <p>Aside</p>
</div>
<div class="main">
  <div class="block bg-white">
    <div class="header">
      <h1>Hello Buti</h1>
      <ul class="nav-horizontal">
        <li><a href="#" class="button active">Invoices</a></li>
        <li><a href="#" class="button">Clients</a></li>
        <li><a href="#" class="button">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="block bg-gray">
    <ul class="invoices">
      <li>
        <div class="description">Consultancy frontend enginering services July</div>
        <div class="details">
          <span>BeBanjo SL</span>
          <span class="date">30/07/2013</span>
        </div>
        <div class="money">3000 €</div>
        <div class="activity">
          <a href=""><i class="uncheck"></i></a>
          <a href=""><i class="download"></i></a>
        </div>
      </li>
      <li>
        <div class="description">212 Fresh Summer</div>
        <div class="details">
          <span>Nicemondays SCP</span>
          <span class="date">28/04/2013</span>
        </div>
        <div class="money">4000 €</div>
        <div class="activity">
          <a href=""><i class="check"></i></a>
          <a href=""><i class="download"></i></a>
        </div>
      </li>
      <li>
        <div class="description">Consultancy frontend services June</div>
        <div class="details">
          <span>BeBanjo SL</span>
          <span class="date">30/06/2013</span>
        </div>
        <div class="money">3000 €</div>
        <div class="activity">
          <a href=""><i class="uncheck"></i></a>
          <a href=""><i class="download"></i></a>
        </div>
      </li>
      <li>
        <div class="description">Consultancy frontend services May</div>
        <div class="details">
          <span>BeBanjo SL</span>
          <span class="date">30/05/2013</span>
        </div>
        <div class="money">3000 €</div>
        <div class="activity">
          <a href=""><i class="uncheck"></i></a>
          <a href=""><i class="download"></i></a>
        </div>
      </li>
      <li></li>
    </ul>
  </div>

</div>