/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3.Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/**
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:focus {
  outline: thin dotted; }
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Addresses font sizes and margins set differently in IE 6/7.
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Addresses margins set differently in IE 6/7.
 */
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 *  Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.holder, .header, .invoices, .utilities {
  display: block;
  *zoom: 1;
  margin: 0 auto;
  position: relative; }
  .holder:before, .header:before, .invoices:before, .utilities:before, .holder:after, .header:after, .invoices:after, .utilities:after {
    content: " ";
    display: table; }
  .holder:after, .header:after, .invoices:after, .utilities:after {
    clear: both; }

.bg-white {
  background-color: white; }

.bg-gray {
  background-color: #efeff2; }

.bg-dark {
  background-color: #999999; }

.bg-invoice {
  background-color: #EFF3F5; }

.left {
  display: inline;
  float: left; }

.right {
  display: inline;
  float: right; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.breathing-left {
  padding-left: 20px; }

.breathing-right {
  padding-right: 20px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans", sans-serif;
  font-style: normal;
  font-weight: 700; }

a {
  text-decoration: none;
  color: #1abc9c;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover {
    color: #2b2b2b; }

.button {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #2b2b2b;
  border-radius: 2px;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6em;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  white-space: normal;
  width: auto; }

/* Clear extra space in FF */
.button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

.button.big {
  height: 40px;
  line-height: 40px; }
.button.full {
  width: 100%; }
.button.active {
  background-color: #1abc9c; }
.button:hover {
  background-color: #148f77; }

.nav, .nav-horizontal {
  margin: 0;
  padding: 0; }
  .nav > li, .nav-horizontal > li {
    list-style: none; }

.nav > li {
  margin-bottom: 10px; }

.nav-horizontal > li {
  margin-left: 10px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top; }

/*

Highlight
---------

  <em class="highlight-yellow">This is important</em>

*/
.highlight, .highlight-yellow, .highlight-red {
  font-style: normal;
  padding: 2px 5px; }

.highlight-yellow {
  background-color: #fffdaf; }

.highlight-red {
  background-color: #ffa59f; }

i {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #1abc9c;
  background-repeat: no-repeat;
  background-position: center center; }
  i.check {
    background-image: url(/images/check_12x10.png); }
  i.uncheck {
    background-color: #999999;
    background-image: url(/images/check_12x10.png); }
  i.download {
    background-image: url(/images/cloud_download_12x12.png); }
  i.search {
    background-image: url(/images/magnifying_glass_12x12.png); }

.invoice {
  padding: 150px 0; }
  .invoice .row {
    margin-bottom: 40px; }
  .invoice .desglose .row {
    margin-bottom: 0; }
  .invoice p, .invoice h1 {
    margin: 0; }

.field-group {
  *zoom: 1;
  display: block;
  margin-bottom: 10px; }
  .field-group:before, .field-group:after {
    content: " ";
    display: table; }
  .field-group:after {
    clear: both; }

.label-field {
  display: block; }

.field-text {
  display: block;
  border-radius: 2px;
  border: none;
  background-color: white;
  color: #999999;
  padding: 10px 10px; }
  .field-text:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #1abc9c; }
  .field-text.full {
    width: 100%; }
  .field-text.live {
    background-color: #17a689;
    color: white; }

.label-field.inline, .field-text.inline {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: middle; }

.label-field.inline {
  width: 100px;
  margin-right: 10px;
  line-height: 1; }

.dropdown {
  background: url("/images/select-tip.png") no-repeat calc(100% - 15px) center;
  background-color: white;
  width: 100%;
  overflow: hidden;
  padding: 7px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; }
  .dropdown select {
    width: calc(100% + 30px);
    background: transparent;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    color: #999999; }
    .dropdown select option {
      font-size: 0.75em;
      width: 90%; }

input[type='checkbox'], input[type='radio'] {
  display: none; }

input[type='checkbox'] + label, input[type='radio'] + label {
  position: relative;
  padding-left: 18px; }

input[type='checkbox'] + label:before {
  content: "\00a0";
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 1px 1px 1px #ddd, inset -1px -1px 1px #ddd; }

input[type='checkbox']:checked + label:after {
  content: "\00a0";
  display: block;
  width: 3px;
  height: 6px;
  border: solid #777;
  border-width: 0 2px 2px 0;
  position: absolute;
  background: transparent;
  left: 4px;
  top: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg); }

input[type='radio'] + label:before {
  content: "\00a0";
  width: 13px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 1px 1px 1px #ddd, inset -1px -1px 1px #ddd; }

input[type='radio']:checked + label:after {
  display: block;
  content: "\00a0";
  width: 6px;
  height: 6px;
  background-color: #777;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 100%; }

.form-actions {
  margin: 20px 0; }

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; }

.flat tr {
  border-bottom: 1px solid #eaeaed; }
  .flat tr:last-child {
    border: none; }
.flat td {
  padding: 20px 0;
  text-align: center; }
  .flat td:first-child {
    text-align: left; }
  .flat td:last-child {
    text-align: right; }

.column, .columns {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  zoom: 1; }
  .row:before, .row:after {
    content: ' ';
    display: table; }
  .row:after {
    clear: both; }

.whole {
  width: 100%; }

.half {
  width: 50%; }

.thirth {
  width: 33.33%; }

.quarter {
  width: 25%; }

.percent.five {
  width: 5%; }
.percent.ten {
  width: 10%; }
.percent.fifteen {
  width: 15%; }
.percent.twenty {
  width: 20%; }
.percent.twentyfive {
  width: 25%; }
.percent.thirty {
  width: 30%; }
.percent.thirtyfive {
  width: 35%; }
.percent.forty {
  width: 40%; }
.percent.fortyfive {
  width: 45%; }
.percent.fifty {
  width: 50%; }
.percent.fiftyfive {
  width: 55%; }
.percent.sixty {
  width: 60%; }
.percent.sixtyfive {
  width: 65%; }
.percent.seventy {
  width: 70%; }
.percent.seventyfive {
  width: 75%; }
.percent.eighty {
  width: 80%; }
.percent.eightyfive {
  width: 85%; }
.percent.ninety {
  width: 90%; }
.percent.ninetyfive {
  width: 95%; }
.percent.hundred {
  width: 100%; }

.one-of-two {
  width: 50%; }

.one-of-three {
  width: 33.33333%; }

.one-of-four {
  width: 25%; }

.one-of-five {
  width: 20%; }

.one-of-six {
  width: 16.66667%; }

.one-of-seven {
  width: 14.28571%; }

.one-of-eight {
  width: 12.5%; }

.one-of-nine {
  width: 11.11111%; }

.one-of-ten {
  width: 10%; }

.one-of-eleven {
  width: 9.09091%; }

.one-of-twelve {
  width: 8.33333%; }

.two-of-three {
  width: 66.66667%; }

.two-of-four {
  width: 50%; }

.two-of-five {
  width: 40%; }

.two-of-six {
  width: 33.33333%; }

.two-of-seven {
  width: 28.57143%; }

.two-of-eight {
  width: 25%; }

.two-of-nine {
  width: 22.22222%; }

.two-of-ten {
  width: 20%; }

.two-of-eleven {
  width: 18.18182%; }

.two-of-twelve {
  width: 16.66667%; }

.three-of-four {
  width: 75%; }

.three-of-five {
  width: 60%; }

.three-of-six {
  width: 50%; }

.three-of-seven {
  width: 42.85714%; }

.three-of-eight {
  width: 37.5%; }

.three-of-nine {
  width: 33.33333%; }

.three-of-ten {
  width: 30%; }

.three-of-eleven {
  width: 27.27273%; }

.three-of-twelve {
  width: 25%; }

.four-of-five {
  width: 80%; }

.four-of-six {
  width: 66.66667%; }

.four-of-seven {
  width: 57.14286%; }

.four-of-eight {
  width: 50%; }

.four-of-nine {
  width: 44.44444%; }

.four-of-ten {
  width: 40%; }

.four-of-eleven {
  width: 36.36364%; }

.four-of-twelve {
  width: 33.33333%; }

.five-of-six {
  width: 83.33333%; }

.five-of-seven {
  width: 71.42857%; }

.five-of-eight {
  width: 62.5%; }

.five-of-nine {
  width: 55.55556%; }

.five-of-ten {
  width: 50%; }

.five-of-eleven {
  width: 45.45455%; }

.five-of-twelve {
  width: 41.66667%; }

.six-of-seven {
  width: 85.71429%; }

.six-of-eight {
  width: 75%; }

.six-of-nine {
  width: 66.66667%; }

.six-of-ten {
  width: 60%; }

.six-of-eleven {
  width: 54.54545%; }

.six-of-twelve {
  width: 50%; }

.seven-of-eight {
  width: 87.5%; }

.seven-of-nine {
  width: 77.77778%; }

.seven-of-ten {
  width: 70%; }

.seven-of-eleven {
  width: 63.63636%; }

.seven-of-twelve {
  width: 58.33333%; }

.eight-of-nine {
  width: 88.88889%; }

.eight-of-ten {
  width: 80%; }

.eight-of-eleven {
  width: 72.72727%; }

.eight-of-twelve {
  width: 66.66667%; }

.nine-of-ten {
  width: 90%; }

.nine-of-eleven {
  width: 81.81818%; }

.nine-of-twelve {
  width: 75%; }

.ten-of-eleven {
  width: 90.90909%; }

.ten-of-twelve {
  width: 83.33333%; }

.eleven-of-twelve {
  width: 91.66667%; }

.push-one-of-two {
  margin-left: 50%; }

.push-one-of-three {
  margin-left: 33.33333%; }

.push-one-of-four {
  margin-left: 25%; }

.push-one-of-five {
  margin-left: 20%; }

.push-one-of-six {
  margin-left: 16.66667%; }

.push-one-of-seven {
  margin-left: 14.28571%; }

.push-one-of-eight {
  margin-left: 12.5%; }

.push-one-of-nine {
  margin-left: 11.11111%; }

.push-one-of-ten {
  margin-left: 10%; }

.push-one-of-eleven {
  margin-left: 9.09091%; }

.push-one-of-twelve {
  margin-left: 8.33333%; }

.push-two-of-three {
  margin-left: 66.66667%; }

.push-two-of-four {
  margin-left: 50%; }

.push-two-of-five {
  margin-left: 40%; }

.push-two-of-six {
  margin-left: 33.33333%; }

.push-two-of-seven {
  margin-left: 28.57143%; }

.push-two-of-eight {
  margin-left: 25%; }

.push-two-of-nine {
  margin-left: 22.22222%; }

.push-two-of-ten {
  margin-left: 20%; }

.push-two-of-eleven {
  margin-left: 18.18182%; }

.push-two-of-twelve {
  margin-left: 16.66667%; }

.push-three-of-four {
  margin-left: 75%; }

.push-three-of-five {
  margin-left: 60%; }

.push-three-of-six {
  margin-left: 50%; }

.push-three-of-seven {
  margin-left: 42.85714%; }

.push-three-of-eight {
  margin-left: 37.5%; }

.push-three-of-nine {
  margin-left: 33.33333%; }

.push-three-of-ten {
  margin-left: 30%; }

.push-three-of-eleven {
  margin-left: 27.27273%; }

.push-three-of-twelve {
  margin-left: 25%; }

.push-four-of-five {
  margin-left: 80%; }

.push-four-of-six {
  margin-left: 66.66667%; }

.push-four-of-seven {
  margin-left: 57.14286%; }

.push-four-of-eight {
  margin-left: 50%; }

.push-four-of-nine {
  margin-left: 44.44444%; }

.push-four-of-ten {
  margin-left: 40%; }

.push-four-of-eleven {
  margin-left: 36.36364%; }

.push-four-of-twelve {
  margin-left: 33.33333%; }

.push-five-of-six {
  margin-left: 83.33333%; }

.push-five-of-seven {
  margin-left: 71.42857%; }

.push-five-of-eight {
  margin-left: 62.5%; }

.push-five-of-nine {
  margin-left: 55.55556%; }

.push-five-of-ten {
  margin-left: 50%; }

.push-five-of-eleven {
  margin-left: 45.45455%; }

.push-five-of-twelve {
  margin-left: 41.66667%; }

.push-six-of-seven {
  margin-left: 85.71429%; }

.push-six-of-eight {
  margin-left: 75%; }

.push-six-of-nine {
  margin-left: 66.66667%; }

.push-six-of-ten {
  margin-left: 60%; }

.push-six-of-eleven {
  margin-left: 54.54545%; }

.push-six-of-twelve {
  margin-left: 50%; }

.push-seven-of-eight {
  margin-left: 87.5%; }

.push-seven-of-nine {
  margin-left: 77.77778%; }

.push-seven-of-ten {
  margin-left: 70%; }

.push-seven-of-eleven {
  margin-left: 63.63636%; }

.push-seven-of-twelve {
  margin-left: 58.33333%; }

.push-eight-of-nine {
  margin-left: 88.88889%; }

.push-eight-of-ten {
  margin-left: 80%; }

.push-eight-of-eleven {
  margin-left: 72.72727%; }

.push-eight-of-twelve {
  margin-left: 66.66667%; }

.push-nine-of-ten {
  margin-left: 90%; }

.push-nine-of-eleven {
  margin-left: 81.81818%; }

.push-nine-of-twelve {
  margin-left: 75%; }

.push-ten-of-eleven {
  margin-left: 90.90909%; }

.push-ten-of-twelve {
  margin-left: 83.33333%; }

.push-eleven-of-twelve {
  margin-left: 91.66667%; }

.row {
  margin-bottom: 20px;
  margin-left: -10px;
  margin: 0;
  padding: 0; }
  .row.full {
    margin-left: 0; }
    .row.full > .column {
      padding-left: 0; }
  .row:last-child {
    margin-bottom: 0; }
    .row:last-child > .row:last-child {
      margin-bottom: 0; }

.column, .columns {
  float: left;
  padding-left: 10px;
  vertical-align: top; }
  .column.alfa, .columns.alfa {
    padding-left: 0;
    padding-right: 10px; }

html, body {
  height: 100%; }

body {
  background-color: #efeff2;
  color: #2b2b2b;
  font: 100%/1.5 "museo-sans", sans-serif;
  margin: 0;
  padding: 0; }

.aside {
  position: fixed;
  height: 100%;
  width: 300px;
  top: 0;
  left: -300px;
  background-color: #1abc9c;
  color: white;
  padding: 20px 25px 20px 20px;
  z-index: 10; }
  .aside.open {
    left: 0; }

.aside, .main {
  transition: all 0.2s ease-out; }

.main {
  position: relative; }

.aside.open + .main {
  padding-left: 300px; }

.block {
  width: 100%; }

.holder, .header, .invoices, .utilities {
  width: 960px;
  padding: 20px; }

.login-box {
  width: 300px;
  margin: 200px auto; }

/* Header */
.header {
  *zoom: 1; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }
  .header h1 {
    float: left; }
  .header .nav-horizontal {
    margin-top: 28px;
    float: right; }

/* Invoices */
.invoices {
  background-color: #fdfdfd;
  border-radius: 2px; }

.description, .money {
  font-family: "museo-sans", sans-serif;
  font-style: normal;
  font-weight: 700; }

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.client {
  color: #bfbfbf;
  font-size: 0.75em; }

/* Utilities */
.utilities {
  *zoom: 1;
  margin: 20px auto 10px auto; }
  .utilities:before, .utilities:after {
    content: " ";
    display: table; }
  .utilities:after {
    clear: both; }

.stats {
  float: left; }

.years {
  margin-top: 0.5em;
  float: right; }

.dropdown.year {
  width: 120px; }

.separator {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  height: 1px;
  width: 20px;
  background-color: #2b2b2b;
  margin: 0 5px 4px 5px; }

a.uppercase {
  color: #2b2b2b;
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: bottom; }
  a.uppercase:hover {
    color: #1abc9c; }
