// Variables
$white: #ffffff;
$gray-darkest: #2b2b2b;
$gray-dark: #999999;
$gray: #cccccc;
$gray-light: #EFEFF2;
$gray-lighter: #F8F8F9;
$lime: #AAE746;
$aqua: #46A1E7;
$turquise: #1abc9c;

// Animations
$duration: 0.5s;
$duration-fast: 0.2s;
$duration-slow: 1.0s;

// Fonts
$museo: "museo-sans",sans-serif;

// Font sizes
$bigger-size: 2em;
$big-size: 1.5em;
$normal-size: 1em;
$small-size: 0.75em;
$smallest-size: 0.6em;

// Radius
$radius-default: 2px;