.bg-white {
  background-color: $white;
}
.bg-gray {
  background-color: $gray-light;
}
.bg-dark {
  background-color: $gray-dark;
}
.bg-invoice {
  background-color: #EFF3F5;
}
.left {
  display: inline;
  float: left;
}
.right {
  display: inline;
  float: right;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.breathing-left {
  padding-left: 20px;
}
.breathing-right {
  padding-right: 20px;
}