@function percent($part, $of) {
  @return percentage($part / $of);
}

@function semantic-to-percent($num) {
  @return $num * 5%;
}

@function semantic-to-number($num) {
  $count: 1;

  @each $word in one, two, three, four, five, six, seven, eight, nine, ten,
  eleven, twelve, thirteen, fourteen, fifteen, sixteen, seventeen, eighteen,
  nineteen, twenty, twentyone, twentytwo, twentythree, twentyfour {
    @if ($word == $num) { @return $count; }
    $count: $count + 1;
  }

  @return "invalid";
}

@function number-to-semantic($num) {
  $count: 1;
  @each $word in five, ten, fifteen, twenty, twentyfive, thirty, thirtyfive,
  forty, fortyfive, fifty, fiftyfive, sixty, sixtyfive, seventy, seventyfive,
  eighty, eightyfive, ninety, ninetyfive, hundred {
    @if ($count == $num) { @return $word; }
    $count: $count + 1;
  }
  @return "invalid";
}