i {
  display: inline-block;
  vertical-align: middle;
}

.icon-arrow { width: 16px; height: 16px; background: url(/images/icons.png) 0px 0px no-repeat; }
.icon-delete { width: 16px; height: 16px; background: url(/images/icons.png) 0px -16px no-repeat; }
.icon-edit { width: 16px; height: 16px; background: url(/images/icons.png) 0px -32px no-repeat; }
.icon-eye { width: 16px; height: 16px; background: url(/images/icons.png) 0px -48px no-repeat; }
.icon-favorite { width: 16px; height: 16px; background: url(/images/icons.png) 0px -64px no-repeat; }
.icon-mail { width: 16px; height: 16px; background: url(/images/icons.png) 0px -80px no-repeat; }
.icon-search { width: 16px; height: 16px; background: url(/images/icons.png) 0px -96px no-repeat; }
.icon-settings { width: 16px; height: 16px; background: url(/images/icons.png) 0px -112px no-repeat; }
.icon-tick { width: 16px; height: 16px; background: url(/images/icons.png) 0px -128px no-repeat; }

.icon-complete {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: $turquise;
}

.icon-uncomplete {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: $red;
}

.action {
  text-transform: uppercase;
  font-size: $smallest-size;
}