%navigation {
  margin: 0;
  padding: 0;
  > li {
    list-style: none;
  }
}

.nav {
  @extend %navigation;
  > li {
    margin-bottom: 10px;
  }
}

.nav-horizontal {
  @extend %navigation;
  > li {
    margin-left: 10px;
    @include inline-block;
    vertical-align: top;
  }
}
