@import "components/grids";

html, body {
  height: 100%;
}

body {
  background-color: $gray-light;
  color: $gray-darkest;
  font: 100%/1.5 $museo;
  margin: 0;
  padding: 0;
}

.aside {
  position: fixed;
  height: 100%;
  width: 300px;
  top: 0;
  left: -300px;
  background-color: $turquise;
  color: white;
  padding: 20px 25px 20px 20px;
  z-index: 10;
  &.open {
    left: 0;
  }
}
.aside, .main {
  transition: all $duration-fast ease-out;
}
.main {
  position: relative;
  &:after {
    content: '';
    display: block;
    height: 40px;
  }
}
.aside.open + .main {
  padding-left: 300px;
}

.block {
  width: 100%;
}

.holder {
  @extend %container;
  width: 960px;
  padding: 20px;
}

.login-box {
  width: 300px;
  margin: 200px auto;
}

/* Header */

.header {
  @extend .holder;
  @include clearfix;
  h1 {
    float: left;
  }
  .nav-horizontal {
    margin-top: 28px;
    float: right;
  }
}

.invoices {
  @extend .holder;
  margin-bottom: 30px !important;
  background-color: lighten($gray-light, 5%);
  border-radius: $radius-default;
}
.description, .money {
  @include museo-bold;
}
.money {
  font-size: $big-size;
}
.description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.client {
  color: darken($gray, 5%);
  font-size: $small-size;
}
.invoice {
  display: inline-block;
  background-color: $gray-darkest;
  color: white;
  font-size: $small-size;
  padding: 2px 4px;
}

/* Utilities */
.utilities {
  @extend .holder;
  @include clearfix;
  margin: 20px auto 10px auto;
}
.stats {
  float:left;
}
.years {
  margin-top: 0.5em;
  float: right;
}
.dropdown {
  &.year {
    width: 120px;
  }
}
.separator {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  height: 1px;
  width: 20px;
  background-color: $gray-darkest;
  margin: 0 5px 4px 5px;
}